.Places {
    display: flex;
    justify-content: center;
    color: rgb(210, 213, 235);
    text-align: center;
}

.placesItem{
    padding-top: 7vh;
    max-width: 30vw;
}

.placesImg {
    padding-bottom: 5vh;
    max-width: 30vw;
}